body {
    font-family: 'Russo One', sans-serif;
    background: url("unnamed.jpg");
	background-repeat : no-repeat;
	background-size : cover;
}
div{
        font-family: 'Roboto', sans-serif;
        margin : auto;
}
.button {
    background-color: #01314b;
    color: #FFFFFF;
    width: 25px;
    height: 65px;
    text-align: center;
    cursor: pointer;
    font-size: 30px;
    font-weight: lighter;
    padding-top: 3px;
}
.button:hover {
    background-color: #1f4287;
}
.row {
    display: table;
    width: 300px;
}
.column {
    display: table-cell;
}
#calc-zero {
    width: 51px;
}
#calc-clear {
    width: 50px;
}
#calc-display-val {
    height: 80px;
    color: black;
    text-align: left;
    border-left: 2px solid #01314b;
    border-right: 2px solid #01314b;
    border-top: 2px solid #01314b;
    font-size: 32px;
    overflow: hidden;
    white-space: nowrap;
    background-color: #181818;
    color: white;
    padding: 12px;
    border-radius: 10px 10px 0 0;
    text-align: right;
    font-size: 48px ;
}
.button-operator {
    background-color: black;
    color: #278ea5;
    border-right: 2px solid #01314b;
}
#calc-equals{
	border-bottom: 2px solid #01314b;
}
h1 {
    text-align: center;
    font-size: 50px;
    margin-top: 50px;
    color:gray;
}
#calc-zero {
    border-radius: 0 0 0 10px;
}
#calc-equals {
    border-radius: 0 0 10px 0;
}
a{
  display: block;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  padding-left: 47.5%;

}
